<%- include('partials/header')%>

<section class="hero"> <!-- Banner -->
    <article class="hero__content container">
        <h3 class="hero__title">Nuevos Ingresos</h3>
        <p class="hero__text"> Descubrí el próximo Funko Pop de tu colección</p>
        <a class="hero__link" href="/shop">SHOP</a>
    </article>
</section>


<main class="container home__main">

    <!-- Iteramos sobre las licencias para mostrar las colecciones -->
    <% licences.forEach(licence=> {
            const itemsWithThisLicence = items.filter(item=> item.licence_name === licence.licence_name);
            const randomItem = itemsWithThisLicence[Math.floor(Math.random() * itemsWithThisLicence.length)];
            %>

    <section class="collection">
        <article class="collection__content">
            <h3 class="collection__title">
                <%= licence.licence_name%>
            </h3>
            <p class="collection__text">
                <%= licence.licence_description%>
            </p>
            <div class="collection__line"></div>
            <a class="collection__link" href="/shop/filter-licence/<%=randomItem.licence_name%>">VER COLECCIÓN</a>
        </article>
        <picture class="collection__cover">
            <img src="<%= randomItem.img_front%>" alt="Figura coleccionable de <% licence.licence_name%>">
        </picture>
    </section>

    <% }) %>

    <%- include ('components/slider') %>

</main> <!-- Fin Main -->

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
<script src="/js/glide.js"></script>

<%- include('partials/footer')%>